@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

* {
  font-family: "Montserrat", sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: #252525;
  color: #fff;
}

.primary-bg-color {
  background-color: #252525;
}

.secondary-bg-color {
  background-color: #c09578;
}

.light-bg-color {
  background-color: #fcf5eb;
}

.dark-bg-color {
  background-color: #101010;
}

.primary-color {
  color: #c09578;
}

.secondary-color {
  color: #626262;
}

.light-color {
  color: #fcf5eb;
}

#navbar .navbar-nav {
  flex-direction: row;
  justify-content: end;
}
#navbar .navbar-nav li {
  margin-left: 1rem;
}
#navbar a, #navbar button {
  color: #fff;
}
#navbar li {
  position: relative;
}
#navbar i {
  font-size: 2rem;
}
#navbar span {
  position: absolute;
  top: -0.8rem;
  right: -0.8rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #ef3636;
  text-align: center;
}
#navbar span#bag-item {
  left: 2rem;
}
#navbar .navbar-brand {
  font-weight: 700;
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
}
@media (min-width: 768px) {
  #navbar .navbar-brand {
    text-align: left;
  }
}
#navbar #navbar-items {
  justify-content: space-between;
}
@media (min-width: 768px) {
  #navbar #navbar-items {
    min-width: 80%;
    display: flex;
  }
}
#navbar #search-form {
  width: 100%;
  margin: 2rem 0;
  border: 2px solid #626262;
  border-radius: 0.3rem;
  padding: 0.5rem 1.5rem;
}
@media (min-width: 768px) {
  #navbar #search-form {
    width: 50%;
    margin: 0;
  }
}
#navbar #search-form input {
  background-color: transparent;
  border: none;
  color: #fff;
}
#navbar #search-form input:focus {
  box-shadow: none;
}
#navbar #search-form input::placeholder {
  font-size: 1.4rem;
  color: #fff;
}

#bottom-navbar-container .container {
  justify-content: flex-end;
}
#bottom-navbar-container a {
  font-weight: 600;
  color: #fff;
}
#bottom-navbar-container .navbar-toggler {
  font-size: 1.5rem;
}

.banners-container {
  padding: 0;
}

.carousel-caption {
  bottom: 5rem;
  padding: 1rem;
  left: 12%;
  right: 12%;
}
@media (min-width: 768px) {
  .carousel-caption {
    left: 23%;
    right: 23%;
  }
}
.carousel-caption h5 {
  font-size: 1.8rem;
}
@media (min-width: 768px) {
  .carousel-caption h5 {
    font-size: 4rem;
  }
}

@media (min-width: 768px) {
  #slider .carousel-item,
  #slider img {
    height: 60rem;
  }
}

#mini-banners {
  margin-top: -0.3rem;
  z-index: 10;
}
#mini-banners .col-12 {
  z-index: 1;
  height: 30rem;
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 768px) {
  #mini-banners .col-12 {
    max-width: 30%;
  }
}
#mini-banners .col-12 h2 {
  text-transform: uppercase;
  max-width: 5rem;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1em;
}
#mini-banners .col-12 img {
  height: 22rem;
  position: absolute;
  right: 1.6rem;
  bottom: 1.6rem;
}
#mini-banners .col-12 a {
  font-weight: bold;
  color: #fff;
  font-size: 1.3rem;
  transition: 0.5s;
}
#mini-banners .col-12 a:hover {
  color: #101010;
}
#mini-banners #mini-banner-3 a {
  color: #101010;
}
#mini-banners #mini-banner-3 a:hover, #mini-banners #mini-banner-1 a:hover {
  color: #c09578;
}

#best-sellers {
  padding: 4rem 0;
}
#best-sellers .row {
  margin: 0;
}
#best-sellers .col-md-3 {
  padding: 0;
}

.title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 4rem;
  margin-bottom: 1.6rem;
  text-align: center;
}
@media (min-width: 768px) {
  .title {
    text-align: left;
  }
}

.card {
  text-align: center;
  border-radius: 0;
}
.card img {
  width: 14rem;
  height: 25rem;
  margin: 3.2rem auto;
}
.card .card-category {
  font-size: 1.3rem;
}
.card .card-title {
  color: #fff;
  font-size: 1.6rem;
}
.card .card-text {
  margin: 3.2rem 0;
  font-weight: bold;
}

.btn {
  font-size: 1.6rem;
  background-color: transparent;
  border-color: #c09578;
}
.btn:hover {
  background-color: #c09578;
  border-color: #c09578;
}

#bottom-banner {
  background-color: #101010;
  padding: 9.6rem;
  margin-bottom: 6.4rem;
  text-align: center;
}
#bottom-banner .offer-subtitle, #bottom-banner h2 {
  text-transform: uppercase;
  font-weight: bold;
}
@media (min-width: 768px) {
  #bottom-banner h2 {
    font-size: 9.6rem;
  }
}
#bottom-banner .btn {
  margin: 3.2rem;
  font-weight: bold;
  padding: 1.6rem;
}
#bottom-banner img {
  max-width: 17.5rem;
}

#new-products {
  margin-bottom: 5em;
}
#new-products-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #101010;
}
#new-products-banner h3 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.5em;
  font-size: 2.5em;
}
#new-products .col-md-4 {
  padding: 0;
}
#new-products .card img {
  height: 15rem;
  width: 9rem;
  margin: 2em auto;
  object-fit: cover;
}

#gallery .image-container {
  background-size: cover;
  background-position: center;
  height: 22.5rem;
  cursor: pointer;
  transition: 0.5s;
  border: 3px solid #101010;
}
#gallery .image-container:hover {
  border-color: #c09578;
}

#insta1 {
  background-image: url(../img/insta1.jpg);
}

#insta2 {
  background-image: url(../img/insta2.jpg);
}

#insta3 {
  background-image: url(../img/insta3.jpg);
}

#insta4 {
  background-image: url(../img/insta4.jpg);
}

#insta5 {
  background-image: url(../img/insta5.jpg);
}

#insta6 {
  background-image: url(../img/insta6.jpg);
}

#footer-links-container {
  border-bottom: 1px solid #626262;
}
#footer-links-container h3 {
  margin-bottom: 2.5rem;
  text-transform: uppercase;
}
#footer-links-container li {
  font-size: 0.8em;
  text-align: center;
}
#footer-links-container a {
  text-decoration: none;
}
#footer-links-container a:hover {
  color: #c09578;
}

#footer .footer-column {
  padding: 2em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media (min-width: 768px) {
  #footer .footer-column {
    padding: 5em 2em;
  }
}

#footer-center {
  border-left: 1px solid #626262;
  border-right: 1px solid #626262;
}
#footer-center h3 {
  font-weight: 900;
}
#footer-center .store-phone {
  color: #c09578;
  font-weight: bold;
  font-size: 2em;
  margin-top: -1.5rem;
}

/*# sourceMappingURL=style.css.map */
