@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
@import "variables";
@import "utilities";

@include reset;

* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: $primary-bg-color;
  color: $white;
}

.primary-bg-color {
  background-color: $primary-bg-color;
}

.secondary-bg-color {
  background-color: $secondary-bg-color;
}

.light-bg-color {
  background-color: $light-bg-color;
}

.dark-bg-color {
  background-color: $dark-bg-color;
}

.primary-color {
  color: $secondary-bg-color;
}

.secondary-color {
  color: $secondary-color;
}

.light-color {
  color: $light-bg-color;
}
