@use "utilities";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
@import "variables";

@include utilities.reset;

* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: $primary-bg-color;
  color: $white;
}

.primary-bg-color {
  background-color: $primary-bg-color;
}

.secondary-bg-color {
  background-color: $secondary-bg-color;
}

.light-bg-color {
  background-color: $light-bg-color;
}

.dark-bg-color {
  background-color: $dark-bg-color;
}

.primary-color {
  color: $secondary-bg-color;
}

.secondary-color {
  color: $secondary-color;
}

.light-color {
  color: $light-bg-color;
}

// Navbar
#navbar {
  .navbar-nav {
    flex-direction: row;
    justify-content: end;

    & li {
      margin-left: 1rem;
    }
  }

  & a,
  & button {
    color: $white;
  }

  & li {
    position: relative;
  }

  & i {
    font-size: 2rem;
  }

  & span {
    position: absolute;
    top: -0.8rem;
    right: -0.8rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: $span-background;
    text-align: center;

    &#bag-item {
      left: 2rem;
    }
  }

  .navbar-brand {
    font-weight: 700;
    width: 100%;
    text-align: center;
    font-size: 1.8rem;

    @include utilities.desktop {
      text-align: left;
    }
  }

  #navbar-items {
    justify-content: space-between;

    @include utilities.desktop {
      min-width: 80%;
      display: flex;
    }
  }

  #search-form {
    width: 100%;
    margin: 2rem 0;
    border: 2px solid $secondary-color;
    border-radius: 0.3rem;
    padding: 0.5rem 1.5rem;

    @include utilities.desktop {
      width: 50%;
      margin: 0;
    }

    & input {
      background-color: transparent;
      border: none;
      color: $white;

      &:focus {
        box-shadow: none;
      }

      &::placeholder {
        color: $white;
      }
    }
  }
}

#bottom-navbar-container {
  & .container {
    justify-content: flex-end;
  }

  & a {
    font-weight: 600;
    color: $white;
  }

  .navbar-toggler {
    font-size: 1.5rem;
  }
}
